.liveview-container{
  display: flex;

}

.drivers-container{
  display: grid;
  grid-template-columns: auto 1fr;
  width: fit-content;
  margin: 0 auto;
}


td{
  text-align: center;
  font-size: 1.25em;

}
table{
  font-family: F1;
  border-spacing: 0 .5em;
  width: 100%;
}

th{
  font-size: 0.625em;
  font-weight: 400;
  color: white;
  padding: 0em; 

  white-space: nowrap;
}

thead tr{
  position: relative;
}

thead tr::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
  top: 15px;
}


.circle-1{
  width: 45em;
  height: 45em;   
  border-radius: 50%;
  filter: blur(110px);
  background-repeat:no-repeat;
  z-index: -1;
  background: linear-gradient(90deg, rgba(225,6,0,0.5) 0%, rgba(66,0,255,1) 100%);
}

.circle-texture, .circle-1, .circle-2{
  grid-row: 1;
  grid-column: 1;
}


.circle-2{
  width: 45em;
  height: 45em;   
  border-radius: 50%;
  filter: blur(110px);
  background-repeat:no-repeat;
  background: linear-gradient(90deg, rgba(53,31,31,1) 0%, rgba(66,0,255,1) 100%);
  z-index: -1;
}



.circle-container{
  justify-items: center;
  align-items: center;
  grid-template-columns: fit-content(0);
  grid-template-rows: fit-content(0);
  display: grid;
  z-index: -1;
  position: absolute;

}

.circle-right{
  right: -20em;
  bottom: -25em;
  rotate: 125deg;
}

.circle-left{
  left: -25em;
  top: -15em;
}

body { /* Ensure it's positioned to act as a boundary */
  overflow-x: hidden;   /* Hide anything that overflows this container */
}

header{
  font-size: 1.25em;
  margin: 1em 2em;
}

header a{
  color: white;
  text-decoration: none;
  margin-left: 1em;
  transition: color 0.5s;
}


header a:hover{
  cursor: pointer;
  color: #7c7c7c;
}

@media (max-width: 1120px) {
  .liveview-container{
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 765px) {
  .drivers-container{
      grid-template-columns: auto;
      justify-items: center;
      gap: 3em;
  }
} 