
.drivers-list{
    max-height: 80vh; /* Adjust this value based on your requirements */
    overflow-y: auto;
    direction: rtl;
    margin: 0;
}

.drivers-list::-webkit-scrollbar {
    width: 8px;
    

  }
  
  .drivers-list::-webkit-scrollbar-track {
    background: none;
  }
  
  .drivers-list::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 5px;
    transition: fadeIn 0.5s ease-in;
  }
  
  .drivers-list:hover::-webkit-scrollbar-thumb {
    background: #414141;
    
}

.driver{
  align-items: center;
    display: grid;
    grid-template-columns: 2em 1fr auto;
    list-style-type: none;
    box-shadow: 0 0 0 2px #3D3D3D; 
    background: linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(35,35,35,1) 51%, rgba(23,23,23,1) 100%);
    margin: .75em;
    padding: .25em .5em;
    border-radius: 10px;
    font-size: 1.25rem;
    font-family: 'f1';
    font-weight: 400;
    gap: .5em;
    direction: ltr;
    height: 2em;
}

.driver:first-child {
  margin-top: 4px; 
}

.driver:last-child {
  margin-bottom: 4px;
}

.driver:hover{
    box-shadow: 0 0 0 4px #3D3D3D;
    cursor: pointer;
}
.driver p{
    padding: 0;
    margin:0;
}

.driver__position{
    font-family: 'f1';
    font-weight: 800;
    justify-self: start;
}

.driver__name{
  justify-self: start;
}

@media (max-width: 765px) {
  .drivers-list{
    display: flex;
    width: 80vw;
    direction: ltr;
}
} 