.live-driver-info-container {
    display: grid;
    grid-template-areas: 
        "laptime driverpreview driverpreview ."
        "speedmeter brakebar throttlebar rpmmeter"
        "stintstable livelocation livelocation nearbydriverslist";
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.live-driver-info-container > div:nth-child(1) {
    grid-area: laptime;
}
.live-driver-info-container > div:nth-child(2) {
    grid-area: driverpreview;
}
.live-driver-info-container > div:nth-child(3) {
    grid-area: speedmeter;
    width: fit-content;
    height: fit-content;
}
.live-driver-info-container > div:nth-child(6) {
    grid-area: rpmmeter;
    width: fit-content;
    height: fit-content;
}

.live-driver-info-container > div:nth-child(4) {
    grid-area: brakebar;
    margin-right: 1em;
}
  
.live-driver-info-container > div:nth-child(5) {
  grid-area: throttlebar;
  margin-left: 1em;
}
.live-driver-info-container > div:nth-child(7) {
    grid-area: stintstable;
}
.live-driver-info-container > div:nth-child(8) {
    grid-area: nearbydriverslist;
}
.live-driver-info-container > div:nth-child(9) {
    grid-area: livelocation;
}
/* Responsive layout for viewports up to 768px wide */
@media (max-width: 768px) {
    .live-driver-info-container {
        grid-template-areas: 
            "laptime laptime driverpreview driverpreview"
            "speedmeter speedmeter brakebar brakebar"
            "throttlebar throttlebar rpmmeter rpmmeter"
            "stintstable stintstable livelocation livelocation"
            "nearbydriverslist nearbydriverslist nearbydriverslist nearbydriverslist";
    }
}

@media (max-width: 1665px) {
    .live-driver-info-container {
        width: auto;
    }
}

@media (max-width: 1330px) {
    .live-driver-info-container {
        grid-template-columns: 1fr 10vw 10vw 1fr;
    }
}


/* Responsive layout for viewports up to 480px wide */
@media (max-width: 480px) {
    .live-driver-info-container {
        grid-template-areas: 
            "laptime laptime laptime laptime"
            "driverpreview driverpreview driverpreview driverpreview"
            "speedmeter speedmeter speedmeter speedmeter"
            "brakebar brakebar brakebar brakebar"
            "throttlebar throttlebar throttlebar throttlebar"
            "rpmmeter rpmmeter rpmmeter rpmmeter"
            "stintstable stintstable stintstable stintstable"
            "livelocation livelocation livelocation livelocation"
            "nearbydriverslist nearbydriverslist nearbydriverslist nearbydriverslist";
    }
}