.driver-image{
    width: 230px;
    height: 230px;
    z-index: 2;
    position: absolute;
    left: 5em;
}

.ldp-container{
    background-color: aquamarine;
    border-radius: 50%;
    position: relative;
}

.driver-number-image{
    position: absolute;
    left: 1em;
    top: 5em;
    width: 15em;
    z-index: 1;
}
.driver-name{
    position: absolute;
}