@font-face {
    font-family: 'f1';
    src: url(../fonts/Formula1-Regular.otf);
    font-weight: 400;
  }
  @font-face {
    font-family: 'f1';
    src: url(../fonts/Formula1-Bold.otf);
    font-weight: 800;
  }
  @font-face {
    font-family: 'f1-wide';
    src: url(../fonts/Formula1-Wide.otf);
  }

.drivers-list{
    align-items: center;
    max-height: 780px; /* Adjust this value based on your requirements */
    overflow-y: auto;
    direction: rtl;
}

.drivers-list::-webkit-scrollbar {
    width: 8px;
    

  }
  
  .drivers-list::-webkit-scrollbar-track {
    background: none;
  }
  
  .drivers-list::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 5px;
    transition: fadeIn 0.5s ease-in;
  }
  
  .drivers-list:hover::-webkit-scrollbar-thumb {
    background: #414141;
    
}

.driver{
  align-items: center;
    display: grid;
    grid-template-columns: 2em 2em 1fr 4em;
    list-style-type: none;
    box-shadow: 0 0 0 2px #3D3D3D; 
    background-color: rgba(0, 0,0, .2);
    backdrop-filter: blur(26px);
    margin: .75em;
    padding: .25em .5em;
    border-radius: 10px;
    font-size: 1.25rem;
    font-family: 'f1';
    font-weight: 400;
    gap: .5em;
    direction: ltr;
}

.driver:hover{
    box-shadow: 0 0 0 4px #3D3D3D;
    cursor: pointer;
}
.driver p{
    padding: 0;
    margin:0;
}

.driver__interval{
  grid-column: 4;
  justify-self: end;
}
.driver__position{
    font-family: 'f1';
    font-weight: 800;
    grid-column: 1;
    justify-self: start;
}
.driver__name{
  justify-self: start;
  white-space: nowrap;
  grid-column: 3;
}
.driver__team-image{
  width: 2em;
  grid-column: 2;
  justify-self: start;
}