
.drivers-table{
    width: 20.85em;
    background: linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(35,35,35,1) 51%, rgba(23,23,23,1) 100%);
    height: fit-content;
    border-radius: 10px;
    border: 2px solid #3D3D3D;
    padding: .75em 1.5em;
}

.position{
    text-align: left;
    font-weight: 800;
}
.drivers-table table tr:nth-child(2) {
    /* Add your styles here */
    background-color: rgba(100, 100,100, .24); /* Example: change background color */
}
@media (max-width: 1450px) {
    .drivers-table{
        width: 15.85em;
    }
}